:root {
    --main-bg-color: #FFBE2E;
    --main-bg-color-hov: #F5891D;
    --main-white: #eaeaea;
    --main-black: #302312;
    --main-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--main-font);
    color: var(--main-black);
}

main {
    min-height: 85vh;
}

/*navigation*/

#mob-menu {
    display: block;
    margin: 0 auto;
    padding: 20px;
    cursor: pointer;
}

.mob {
    background-color: var(--main-bg-color);
}

.menu-container {
    background-color: var(--main-bg-color);
    padding-bottom: 20px;
}

.menu-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu-container > div > a {
    color: var(--main-black);
    text-decoration: none;
    font-weight: 700;
    padding: 10px 0;
}

.menu-display {
    display: none;
}

/*content*/

.img-top {
    background-image: url("../assets/img/taxi-top.jpg");
    filter: hue-rotate(-7deg);
    background-size: cover;
    background-position: center;
    height: 150px;
}

.container {
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
}

.container .wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

.card {
    box-sizing: border-box;
    border: 1px solid #c6c6c6;
    margin-bottom: 20px;
    height: 380px;
}

.card .card-img-container {
    height: 40%;
}

.card .card-info-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    height: 60%;
}

.card h2 {
    font-size: 20px;
    margin: 0;
    padding: 10px 0 10px;
}

.card p {
    font-size: 16px;
    margin: 0;
}

.card .card-img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.map {
    height: 300px;
}

.map iframe {
    border: none;
    width: 100%;
    height: 300px;
}

/*footer*/

footer {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: var(--main-bg-color);
}

/*forms*/
form {
    padding: 10px;
}

#login,
#register,
#feedback-form {
    margin: 20px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#feedback-form {
    max-width: 800px;
}

#feedback-form textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
}

#login > label,
#register > label,
#feedback-form > label {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
}

#login input,
#login button,
#register input,
#register button,
#feedback-form textarea,
#feedback-form button {
    outline: none;
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 15px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

#login input,
#register input,
#feedback-form textarea {
    color: var(--main-black);
    background: var(--main-white);
}

#login button,
#register button,
#feedback-form button {
    margin-top: 25px;
    padding: 17px 10px;
    background: var(--main-bg-color);
    color: var(--main-black);
    box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    transform: translateY(0);
}

#login button:hover,
#register button:hover,
#feedback-form button:hover {
    background: var(--main-bg-color-hov);
}

#login button:active,
#register button:active,
#feedback-form button:active {
    transition: 0.5s;
    transform: translateY(5px);
    box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0);
}

label {
    font-size: 16px;
    color: var(--main-black);
    margin: 15px 0 5px;
    display: flex;
    flex-direction: column;
}

/*feedback form*/

.table-h2 {
    text-align: center;
}

#feedback-table {
    margin: 20px auto;
    max-width: 820px;
}

#feedback-table .time {
    color: #5a5a5a;
    font-size: 12px;
}

#feedback-table .name {
    font-size: 14px;
    font-weight: 600;
}

#feedback-table .text {
    width: 90%;
    font-size: 14px;
}

#feedback-table td {
    padding: 5px 20px;
}

.feedback-message {
    margin: 50px 10px;
    height: 60px;
    background-color: var(--main-bg-color);
    max-width: 800px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-message a {
    font-weight: 700;
    color: var(--main-black);
    text-decoration: none;
}

.name-block {
    text-align: center;
    width: 120px;
    height: 90px;
    background-color: var(--main-bg-color);
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.table-card {
    display: flex;
    align-items: center;
    margin: 10px;
}


/*content*/

@media only screen and (min-width: 450px) {
    /*Navigation*/
    #mob-menu {
        display: none;
    }

    nav {
        background-color: var(--main-bg-color);
    }

    nav .wrapper {
        margin: 0 auto;
        padding: 0 15px 0 15px;
        max-width: 800px;
        display: flex;
        justify-content: space-between;
    }

    nav .wrapper > div {
        display: flex;
        height: 70px;
        flex-direction: row;
    }

    .menu-container > div > a {
        padding: 26px 10px;
    }

    nav .active {
        background-color: var(--main-bg-color-hov);
        color: #000000;
    }

    nav a:hover {
        box-sizing: border-box;
        border-bottom: black 2px solid;
        padding-bottom: 24px;
        color: #000000;
    }

    .img-top {
        height: 300px;
    }

    .container .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 400px;
    }

    .card {
        width: 30%;
        margin-bottom: 0;
    }

    .feedback-message {
        margin: 50px auto;
    }
}


@media only screen and (min-width: 1024px) {
    .img-top {
        height: 450px;
    }

}